body {
  margin: 0;
  padding: 0;
}

#player {
  width: 20px;
  height: 100px;
  background-color: black;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

#player:before,
#player:after {
  content: "";
  position: absolute;
  background-color: black;
}

#player:before {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  bottom: 100%;
  left: 0;
  transform: translateX(-50%);
}

#player:after {
  width: 60px;
  height: 20px;
  bottom: 40px;
  left: 0;
}
